# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
weather_info = pd.read_csv("../output_data/cities.csv")
weather_info

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Larsnes,62.2028,5.5773,2.78,86,40,1.03,NO,1613456205
1,Deputatsky,69.3000,139.9000,-31.51,88,21,0.34,RU,1613456206
2,Barra de Tecoanapa,16.5167,-98.7500,20.09,84,19,2.07,MX,1613456206
3,Albany,42.6001,-73.9662,-2.22,79,100,1.08,US,1613456206
4,Hong Kong,22.2855,114.1577,22.78,60,0,1.34,HK,1613456043
...,...,...,...,...,...,...,...,...,...
555,Bulawayo,-20.1500,28.5833,18.92,93,100,5.81,ZW,1613456286
556,Robertsport,6.7533,-11.3686,26.13,87,99,1.60,LR,1613456286
557,Makakilo City,21.3469,-158.0858,24.00,83,1,2.06,US,1613456286
558,Redlands,34.0556,-117.1825,12.22,62,90,1.54,US,1613456286
559,Weyburn,49.6668,-103.8511,-22.00,71,78,7.20,CA,1613456103

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude
locations = weather_info[["Lat", "Lng"]]

# Store Humidity 
humidity = weather_info["Humidity"]

In [13]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

fig.add_layer(heat_layer)

# Display Image
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

# Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
hotel_df = weather_info
hotel_df['Hotel Name'] = ""
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Larsnes,62.2028,5.5773,2.78,86,40,1.03,NO,1613456205,
1,Deputatsky,69.3000,139.9000,-31.51,88,21,0.34,RU,1613456206,
2,Barra de Tecoanapa,16.5167,-98.7500,20.09,84,19,2.07,MX,1613456206,
3,Albany,42.6001,-73.9662,-2.22,79,100,1.08,US,1613456206,
4,Hong Kong,22.2855,114.1577,22.78,60,0,1.34,HK,1613456043,

In [47]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure